<footer>
  <hr>
  <nav class="navbar navbar-expand navbar-light">
    <div id="Navber">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to 'ログアウトする', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'アカウント情報を変更する', edit_user_registration_path, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to 'ログインする', new_user_session_path, method: :get, class: 'nav-link' %>
          </li>
        <% end %>
        <li class="nav-item active">
          <%= link_to "TOPに戻る", "/" %>
        </li>
      </ul>
    </div>
  </nav>
</footer>
