<!DOCTYPE html>
<html>
  <head>
    <title>TrialBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>

    <%= render 'shared/header' %>
    <%= yield %>
  </body>
</html>
